.m-cnt-h-U5ysx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-background-01);
  margin-bottom: 1.25rem;

  > .m-cnt-h-cnt-U4u {
    flex-grow: 1;
    line-height: 2.25rem;

    @media (max-width: calc(56rem - 1px)) {
      text-align: left;
    }

    @media (min-width: 56rem) {
      text-align: center;
    }
  }

  > .m-cnt-h-x {
    display: flex;
    align-items: center;

    &.hidden-4Ar1 {
      @media (max-width: calc(56rem - 1px)) {
        display: none;
      }
      @media (min-width: 56rem) {
        visibility: hidden;
      }
    }
  }
}
