.text-area-ybvu {
  resize: vertical;
  min-height: 5em;

  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--color-accent-02);
  border-radius: 6px;
  padding: 10px;

  outline-color: var(--color-accent-01);
}