.s-cntr-D4bs {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  flex: 1 1 0;

  &.s-cntrs-nb-U23 {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.s-pd-3-Masj > .s-cnt-Bea3 {
    padding: 0.1875rem;
    height: calc(100% - 0.375rem);
    width: calc(100% - 0.375rem);
  }

  > .s-cnt-Bea3 {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
